// app global css in SCSS form


@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/font/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/font/AlegreyaSans-Bold.ttf");
  font-weight: bold;
}

ul,
h1,
h2,
h3,
h4,
p,
figure {
  padding: 0;
  margin: 0;
}

div {
  color: #474747;
}

body {
  font-size: 15px;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}

.content-body {
  font-size: 15px;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
p {
  color: rgb(24, 22, 22);
  line-height: 1.7;
  margin-bottom: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

strong {
  color: rgb(6, 167, 216);
}

//Globe-Viewer-Tooltip-Container
.globe-viewer-tooltip-container {
  $background: rgba(255, 255, 255, 0.6);
  $otherAccent: #269a46;
  height: 180px;
  width: 360px;
  padding: 20px;
  border-radius: 5px;
  background: $background;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  .flag-img {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
  }
  .country-title {
    font-family: "Sriracha", arial, sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: bolder;
    padding-left: 90px;
    margin-bottom: 10px;
    color: #343434;
  }
  .description {
    margin-top: 1px;
    margin-bottom: 5px;
    padding-left: 95px;
    color: #5a5a5a;
  }
}
