// Quasar SCSS (& Sass) Variables

$primary: #0c120c;
$secondary: #c20114;
$accent: #6d7275;

$dark: #1d1d1d;

$positive: #ecebf3;
$negative: #c20114;
$info: #c7d6d5;
$warning: #f2c037;

// Self-defined variables
$counter: rgb(6, 167, 216);

$typography-font-family: "Alegreya Sans", "-apple-system", "Helvetica Neue",
  Helvetica, Arial, sans-serif !default;

$h6: (
  size: 1.35rem,
  line-height: 2.1rem,
  letter-spacing: 0.0125em,
  weight: 500,
) !default;
$body1: (
  size: 1.45rem,
  line-height: 1.85rem,
  letter-spacing: 0.03125em,
  weight: 400,
) !default;
$body2: (
  size: 1.175rem,
  line-height: 1.55rem,
  letter-spacing: 0.01786em,
  weight: 400,
) !default;
$overline: (
  size: 0.75rem,
  line-height: 2rem,
  letter-spacing: 0.16667em,
  weight: 500,
) !default;
$caption: (
  size: 0.85rem,
  line-height: 1.35rem,
  letter-spacing: 0.03333em,
  weight: 400,
) !default;
