// Quasar SCSS (& Sass) Variables

$primary   : #0C120C;
$secondary : #C20114;
$accent    : #6D7275;

$dark      : #1D1D1D;

$positive  : #ECEBF3;
$negative  : #C20114;
$info      : #C7D6D5;
$warning   : #F2C037;


// Self-defined variables
$counter : #279B48;
