// Quasar SCSS (& Sass) Variables

$primary: #0c120c;
$secondary: #c20114;
$accent: #6d7275;

$dark: #1d1d1d;

$positive: #ecebf3;
$negative: #c20114;
$info: #c7d6d5;
$warning: #f2c037;

// Self-defined variables
$typography-font-family: "Alegreya Sans", "-apple-system", "Helvetica Neue",
  Helvetica, Arial, sans-serif !default;
$counter: #279b48;
