// app global css in SCSS or CSS form
@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/font/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/font/AlegreyaSans-Bold.ttf");
  font-weight: bold;
}

#q-app,
.q-layout,
.q-page-container,
.q-page {
  height: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* otherwise scrolls after drawer is overlaid */
.q-body--prevent-scroll {
  position: static !important;
}
